/* RESET */

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* STYLES */

/* HEADER */

header {
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 128px 0;
}

.header-wrapper {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.hero {
  display: flex;
  padding-bottom: 128px;
  gap: 24px;
}

.hero__main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero__secondary-text,
a {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

.header__logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 800;
}

.hero__btn {
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 32px;
  margin-top: 12px;
}

.hero__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 250px;
  background-color: rgb(82, 83, 102);
  color: #fff;
  flex-shrink: 0;
}

/* MAIN */

.main-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.cards-title {
  margin-top: 48px;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 48px;
  text-align: center;
  color: #1f2937;
}

.cards {
  display: flex;
  margin-bottom: 92px;
}

.card__img {
  height: 180px;
  width: 180px;
  border: 4px solid #3882f6;
  border-radius: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

/* QUOTE */

.quote {
  background-color: #e5e7eb;
  padding: 128px 0;
  padding-bottom: 100px;
}

.quote-wrapper {
  max-width: 790px;
  margin: 0 auto;
}

.quote__text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 200;
}

.quote__name {
  font-size: 24px;
  text-align: right;
}
/* ACTION */
.action-wrapper {
  max-width: 1200px;
  background-color: #3882f6;
  color: #f9faf8;
  margin: 128px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 48px 0;
  border-radius: 6px;
}

.action__title {
  font-size: 32px;
}

.action__text {
  font-size: 20px;
}

.action__btn {
  border: #f9faf8 2px solid;
  color: #f9faf8;
  border-radius: 6px;
  background-color: #3882f6;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 32px;
}

/* FOOTER */

footer {
  background-color: #1f2937;
  text-align: center;
  padding: 32px 0;
  color: #e5e7eb;
  font-size: 18px;
}
